/* You can add global styles to this file, and also import other style files */
.linkActivo{
    color:rgb(200, 200, 200)
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    font-weight: 700;
    text-decoration: overline;
}

button{
    border-color: white;
    border-style: solid;
    margin-bottom: 1vh;
    background-color: rgba(0, 0, 0, 0.255);
    color: white;
    padding: 2vh;
    border-radius: 20px;
    transition: 0.2s;
}
.moduleTarea{
    flex: 1;
    color: white; padding: 2vh; margin-bottom:2vh;
    border-radius: 4vh;
}
button:hover{
    background-color:rgba(0, 0, 0, 0.093);
}
.left{
    flex: 4;
}
.right{
    flex: 1;
}
input{
    border-radius: 5vh;
    border-style: solid;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-bottom: 1vh;
}